<div class="backgroundImage">
  <div class="container">
    <div class="row justify-content-center align-items-center text">
      <p class="homepageText mb-5">
        Now that we know who you are, I know who I am. I'm not a mistake! It
        all makes sense! In a comic, you know how you can tell who the
        arch-villain's going to be? He's the exact opposite of the hero.
        And most times they're friends, like you and me! I should've known
        way back when... You know why, David? Because of the kids. They
        called me Mr Glass.
      </p>
      <button class="btn btn btn-outline-secondary btn-lg mt-5" id="startButton">Get Started</button>
    </div>
  </div>
</div>