<!--The content below is only a placeholder and can be replaced.-->
<!-- <homepage></homepage> -->
<!-- <app-open-street-map></app-open-street-map> -->


<div>
    <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/list">List</a>
        <a routerLink="/map">Map</a>
        <!-- <ul class="navigation">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/list">List</a></li> 
            <li><a routerLink="/map">Map</a></li>
        </ul> -->
    </nav>
</div>
<router-outlet></router-outlet>