.modal-content,
.modalButtons {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  cursor: pointer;
  border-radius: 0px;

}
.modalButtons:hover {
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.modal-content {
  font-family: Courier;
}


@media screen and (max-width: 600px) {

  .additionalInfoText {
    width: 18em;
  }

}


@media screen and (max-width: 800px) {

  .additionalInfoText {
    width: 18em;
  }

}
