<div class="">
  <div class="flex-container">
    <app-artwork-list class="flex-list map-shadow box" #list (add)="input.startAddingArtwork()" (edit)="input.startEditingArtwork($event)"></app-artwork-list>
    <app-open-street-map class="flex-map map-shadow box" #map></app-open-street-map>
  </div>
</div>

<app-artwork-input #input (ok)="update()"></app-artwork-input>

<!-- <div class="container-fluid">
    <div class="row map-padding">
        <app-artwork-list class="col-sm-4 map-shadow" #list (add)="input.startAddingArtwork()" (edit)="input.startEditingArtwork($event)"></app-artwork-list>
        <app-open-street-map class="col-sm-8 map-shadow"></app-open-street-map>
    </div>
</div> -->