.filterButton {
  border-radius: 0;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-position: 50% 50%;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  padding: 3px;
  width: 34px;
  height: 34px;
  transition: .15s;
}

.filterButton:hover  {
  width: 149px;
}


.fa-filter {
  color: #1770a6;
  font-size: 21px;
  padding-left: 4px;
  padding-right: 4px;
  align-content: center;
  float:left;
}

#filterOptions {
  /* visibility: hidden; */
  display: none;
}

.filterLabel {
  font-size: 15px;
  cursor: pointer;
}

.filterButton:hover #filterOptions {
  /* visibility: visible; */
  display: inline;
}

select {
  cursor: pointer;
}
