.badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  table {
    width: 100%;
  }

  th, td {
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
  }

  tr:hover {
    background-color: #ffffff;
  }

  .button-list {
    padding: 0 0 0 0;
    width: 40px;
    height: 40px;
    border-color: #ffffff;
    background-color: rgba(255,255,255,0);
  }

  .button-list:hover {
    border-color: #607D8B;
  }


  button {
    font-family: Courier;
    background-color: #eee;
    border: 1px solid #14a014;
    /* padding: 5px 10px; */
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }

  button:hover {
    background-color: #cfd8dc;
  }

  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
