/* You can add global styles to this file, and also import other style files */
@@import url(~node_modules/fontawesome/css/fontawesome.css);
@@import url(~node_modules/bootstrap/dist/css/bootstrap.css);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Courier;
}

.customPopup .leaflet-popup-content-wrapper {
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  cursor: pointer;
  border-radius: 0px;
  color: black;
  line-height: 1.5;
}

input[type=text], input[type=number], select, textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid #14a014;
	border-radius: 4px;
	resize: vertical;
}

.filterButton {
  color: #1770a6;
  font-size: 15px;
  /* width: 70px; */
  /* height: 70px; */
  /* line-height: 30px; */
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  background-position: 50% 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 0;
  /* padding: 3px; */
  padding-right: 8px;
  padding-bottom: 5px;
}
