/* You can add global styles to this file, and also import other style files */
@@import url(~node_modules/fontawesome/css/fontawesome.css);
@@import url(~node_modules/bootstrap/dist/css/bootstrap.css);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Courier;
}

.customPopup .leaflet-popup-content-wrapper {
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  cursor: pointer;
  border-radius: 0px;
  color: black;
  line-height: 1.5;
}

/* select */

input[type=text], input[type=number], textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid #14a014;
	border-radius: 4px;
	resize: vertical;
}

.popupBtn {
  font-size: 20px;
}
.edit {
  color: green;
}
.delete {
  color: red;
}

.leaflet-control-search .search-input {
  width: auto;
}
