<div *ngIf="artwork" id="myModal" class="dev-modal">
  <!-- Modal content -->
  <div class="dev-modal-content">
    <form novalidate #form="ngForm">
      <h2>{{artwork.id ? 'Bearbeite Kunstwerk' : 'Füge Kunstwerk hinzu'}} ...</h2>
      <div class="row" *ngIf="artwork.id">
        <div class="col">
          <input type="number" [value]="artwork.id" id="id" name="id" readonly placeholder="ID">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" [(ngModel)]="artwork.name" id="title" name="title" required minlength="2" placeholder="Title">
        </div>
      </div>
      <div class="row">
        <div class="col mt-2">
          <input type="text" [(ngModel)]="artwork.firstname" id="firstname" name="firstname" required minlength="2" placeholder="First Name">
        </div>
        <div class="col mt-2">
          <input type="text" [(ngModel)]="artwork.lastname" id="lastname" name="lastname" placeholder="Last Name">
        </div>
      </div>
      <div class="row">
        <div class="col-6 mt-2">
          <input type="text" [(ngModel)]="artwork.streetname" id="streetname" name="streetname" required minlength="2" placeholder="Streetname">
        </div>
        <div class="col-2 mt-2">
          <input type="number" [(ngModel)]="artwork.streetnumber" id="streetnumber" name="streetnumber" min="1" max="999" placeholder="#">
        </div>
        <div class="col-4 mt-2">
          <input type="text" [(ngModel)]="artwork.zipcode" id="zipcode" name="zipcode" required minlength="2" placeholder="Zipcode">
        </div>
      </div>
      <div class="row">
        <div class="col mt-2">
          <input type="number" [(ngModel)]="artwork.longitude" id="longitude" required name="longitude" min="0.0" max="360.0" placeholder="Longitude">
        </div>
        <div class="col mt-2">
          <input type="number" [(ngModel)]="artwork.latitude" id="latitude" required name="latitude" min="0.0" max="360.0" placeholder="Latitude">
        </div>
      </div>
      <div class="row">
        <div class="col-75">
          <app-image-upload #imageUpload (uploadcompleted)="imageUploadCompleted($event)"></app-image-upload>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="photo">Vorschau:</label>
        </div>
        <div class="col-75">
          <img src="{{artwork.imageBase64}}" alt="">
        </div>
      </div>
      <div class="row">
        <button *ngIf="form.valid" (click)="finishWithOk()" class="artwork-input-btn">Speichern</button>
        <button (click)="finishWithCancel()" class="artwork-input-btn">Abbrechen</button>
      </div>
    </form>
  </div>
</div>










<!-- <div *ngIf="artwork" id="myModal" class="dev-modal"> -->
<!-- Modal content -->
<!-- <div class="dev-modal-content">
    <form novalidate #form="ngForm">
      <h2>{{artwork.id ? 'Bearbeite Kunstwerk' : 'Füge Kunstwerk hinzu'}} ...</h2>
      <div class="row" *ngIf="artwork.id">
        <div class="col-75">
          <input type="number" [value]="artwork.id" id="id" name="id" readonly placeholder="ID">
        </div>
      </div>
      <div class="row">
        <div class="col-75">
          <input type="text" [(ngModel)]="artwork.name" id="title" name="title" required minlength="2" placeholder="Title">
        </div>
      </div>
      <div class="row">
        <div class="col-75">
          <input type="text" [(ngModel)]="artwork.firstname" id="firstname" name="firstname" required minlength="2" placeholder="First Name">
        </div>
      </div>

      <div class="row">
        <div class="col-75">
          <input type="text" [(ngModel)]="artwork.lastname" id="lastname" name="lastname" placeholder="Last Name">
        </div>
      </div>

      <div class="row">
        <div class="col-75">
          <input type="text" [(ngModel)]="artwork.streetname" id="streetname" name="streetname" required minlength="2" placeholder="Streetname">
        </div>
      </div>

      <div class="row">
        <div class="col-75">
          <input type="number" [(ngModel)]="artwork.streetnumber" id="streetnumber" name="streetnumber" min="1" max="999" placeholder="#">
        </div>
      </div>

      <div class="row">
        <div class="col-75">
          <input type="text" [(ngModel)]="artwork.zipcode" id="zipcode" name="zipcode" required minlength="2" placeholder="Zipcode">
        </div>
      </div>

      <div class="row">
        <div class="col-75">
          <input type="number" [(ngModel)]="artwork.longitude" id="longitude" required name="longitude" min="0.0" max="360.0" placeholder="Longitude">
        </div>
      </div>
      <div class="row"> -->
<!-- <div class="col-25">
          <label for="latitude">Breitengrad:</label>
        </div> -->
<!-- <div class="col-75">
          <input type="number" [(ngModel)]="artwork.latitude" id="latitude" required name="latitude" min="0.0" max="360.0" placeholder="Latitude">
        </div>
      </div>
      <div class="row">
        <div class="col-75">
          <app-image-upload #imageUpload (uploadcompleted)="imageUploadCompleted($event)"></app-image-upload>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="photo">Vorschau:</label>
        </div>
        <div class="col-75">
          <img src="{{artwork.imageBase64}}" alt="">
        </div>
      </div>
      <div class="row">
        <button *ngIf="form.valid" (click)="finishWithOk()" class="artwork-input-btn">Speichern</button>
        <button (click)="finishWithCancel()" class="artwork-input-btn">Abbrechen</button>
      </div>
    </form>
  </div>
</div> -->