/* The Modal (background) */
.dev-modal {
    /* display: none;  Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 30%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color */
    /*background-color: rgba(91, 99, 94, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .dev-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /*box-shadow:20px 20px 50px grey; */
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.6);
  }

  img {
    width: 160px;
    height: 90px;
    object-fit: cover;
  }

  
h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

h2, h3 {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}



a {
	cursor: pointer;
	cursor: hand;
}

.button-dashboard {
	width: 40px;
	height: 40px;
}

button {
	font-family: Arial;
	background-color: #eee;
	border: 1px solid #14a014;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
}

button:hover {
	background-color: #cfd8dc;
}

button:disabled {
	background-color: #eee;
	color: #aaa;
	cursor: auto;
}

/* Navigation link styles */
nav a {
	padding: 5px 10px;
	text-decoration: none;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	background-color: #eee;
	border-radius: 4px;
}

nav a:visited, a:link {
	color: #607D8B;
}

nav a:hover {
	color: #039be5;
	background-color: #CFD8DC;
}

nav a.active {
	color: #039be5;
}

/* Clear floats after the columns 
    https://www.w3schools.com/css/tryit.asp?filename=trycss_form_responsive
  */
input[type=text], input[type=number], select, textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid #14a014;
	border-radius: 4px;
	resize: vertical;
}

input[type=text]:focus, input[type=number]:focus {
	background-color: lightblue;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

/* everywhere else */
* {
	font-family: Arial, Helvetica, sans-serif;
}